%footer.global-footer
.container
	.row
		.col-lg-12
			.border-top

%section
	.container
		.row
			.col-sm-6
				%p.quarter-margin-bottom
					%small
						© Walnit Creek Investments 
			.col-sm-6
				.pull-right.no-float-right-sm
					%ul.list-inline.menu-social
						%li
							%a.btn.btn-default.btn-skew{:href=>"#"}
								%i.fa.fa-facebook
						%li
							%a.btn.btn-default.btn-skew{:href=>"#"}
								%i.fa.fa-linkedin
						%li
							%a.btn.btn-default.btn-skew{:href=>"#"}
								%i.fa.fa-twitter