%nav.main-nav
  .container
    %a.navbar-brand{:href => "/"} 
      %img{:src=>"/images/logo@2x.png", :width=>"210px"}
    .pull-right
      %button.nav-toggler.toggle-slide-right
        %span.menu-text
          menu
          %i.md.md-menu
    .nav-links.hidden-xs.pull-right
      %ul.nav.main-links
        %li
          %a{:href => "/contact"} 
            MAKE AN APPOINTMENT
