%a.btn.btn-default{:href=>"/contact"}
  Get in Touch

%ul.nav.main-links
  %li.active
    %a{:href => "/"} 
      Home
  %li
    %a{:href => "/approach"} 
      Approach
  %li
    %a{:href => "/team"} 
      Team
  %li
    %a{:href => "/contact"} 
      Contact
  %li
    %a{:href => "/portfolio"} 
      Portfolio


.nav-padding-left
  %p
    %ul.list-inline.menu-social
      %li
        %a{:href=>"#"}
          %i.fa.fa-facebook
      %li
        %a{:href=>"#"}
          %i.fa.fa-linkedin
      %li
        %a{:href=>"#"}
          %i.fa.fa-twitter