%a.btn.btn-default.hidden-md.hidden-lg{:href=>"/contact"}
  Make an Appointment
%ul.nav.main-links
  %li.active
    %a{:href => "/"} 
      Home
%ul.nav.main-links
  %li.section-header
    Company
  %li
    %a{:href => "/about"} 
      About Us
  %li
    %a{:href => "/services"} 
      Our Services
  %li
    %a{:href => "/office"} 
      Office Tour
  %li
    %a{:href => "/contact"} 
      Contact
  %li
    %a{:href => "/blog"} 
      Blog

%ul.nav.main-links
  %li.section-header
    Patients
  %li
    %a{:href => "/smiles"} 
      Smile Gallery
  %li
    %a{:href => "/testimonials"} 
      Testimonials
  %li
    %a{:href => "/patients"} 
      Patient Library
  %li
    %a{:href => "/page"} 
      Payment Options

.nav-padding-left
  %hr
  %p
    %ul.list-inline.menu-social
      %li
        %a{:href=>"#"}
          %i.fa.fa-facebook
      %li
        %a{:href=>"#"}
          %i.fa.fa-instagram
      %li
        %a{:href=>"#"}
          %i.fa.fa-google-plus
      %li
        %a{:href=>"#"}
          %i.fa.fa-twitter

    
  %p
    Dental Elements
    %br
    1781 15th Street
    %br
    Denver, CO 80202
  %p
    303-309-4093 
    %br
    %a{:href=>"mailto:smile@dentalelements.com"}
      smile@dentalelements.com