;;;
"title": "Team"
;;;

%section.invert-section.bg-cover{:style=>"background-image:url(../images/header_approach.png);"}
	.container
		.row
			.col-lg-8.col-md-10
				%h1
					Team
			.col-lg-3.col-md-2

%section
	.container
		.row
			.col-sm-3
				%img.img-responsive{:src=>"../images/person.png"}
			.col-sm-9
				%h2.text-uppercase.half-margin-bottom
					WIN STEWART
				%h5.no-margin-bottom
					FOUNDER & PARTNER
				.heading-bordered
				%p
					Win brings years of diverse operational experience and a proven record of value-added asset management to WCI. In addition to being an operating partner, he also serves as President of SunCoast Paper & Chemical, Managing Partner for Beacon Student Housing, and Board Member for Modmarket. Win brings over a decade of hands-on experience in acquiring, developing and managing assets in real estate, including for the Carlyle Group and Washington Property Company, and has executed project underwriting and performed ongoing asset management functions for a $1.5 billion portfolio. Win holds a BBA in Finance and Real Estate from the University of Georgia.
				%ul.list-inline.menu-social.no-margin-bottom
					%li
						%a.btn.btn-default.btn-skew{:href=>"#"}
							%i.fa.fa-facebook
					%li
						%a.btn.btn-default.btn-skew{:href=>"#"}
							%i.fa.fa-linkedin
					%li
						%a.btn.btn-default.btn-skew{:href=>"#"}
							%i.fa.fa-twitter
		%hr
		.row
			.col-sm-3
				%img.img-responsive{:src=>"../images/person.png"}
			.col-sm-9
				%h2.text-uppercase.half-margin-bottom
					JULIAN LEWIS
				%h5.no-margin-bottom
					FOUNDER & PARTNER
				.heading-bordered
				%p
					Julian brings a powerful combination of applied experience in strategic investing, digital marketing and research solutions. Over the past seven years, he facilitated technology, innovation and investment strategies for multiple Fortune 500 clients. He leverages his experience leading enterprise software development focused on the market research and marketing automation industries to provide defining value to WCI clients. 
				%p
					Julian maintains a proven ability to provide value-added investment and operating company recommendations with both sell- and buy-side investment cos. He currently sits on the Board of Directors for fast-casual restaurant Modmarket. Julian holds a BBA in Finance from the University of Georgia, Terry College and an MBA from the University of Denver, Daniels College. He is a proven leader and corporate development professional, experienced in finance and marketing management, M&A, market research, product development, online advertising and portfolio management.
				%ul.list-inline.menu-social.no-margin-bottom
					%li
						%a.btn.btn-default.btn-skew{:href=>"#"}
							%i.fa.fa-facebook
					%li
						%a.btn.btn-default.btn-skew{:href=>"#"}
							%i.fa.fa-linkedin
					%li
						%a.btn.btn-default.btn-skew{:href=>"#"}
							%i.fa.fa-twitter
=partial"shared/sign_up"