%section.invert-section.hero.bg-cover{:style=>"background-image:url(images/payment_banner.png);"}
	.container
		.row
			.col-lg-12
				%h1
					Payment Options
%section.double-padding-top
	.container
		.row
			.col-sm-9
				/ %h5.heading-bordered.heading-bordered-left
				/ 	Payment Options
				-3.times do
					%h4
						FINANCIAL POLICY
					%p
						In order to provide the finest dental care at the most reasonable cost, payment for services are due at the time they are rendered. We accept cash, check and credit card payments.
					%p
						In many cases, dental insurance will pay for a portion of your dental care. Insurance is designed to assist you with the expense, not eliminate it. If you provide us with complete insurance information, we will be happy to bill your insurance carrier, if applicable. Every effort will be made to closely estimate your co-payment and deductions, but the ultimate responsibility of any unpaid balances is yours. Please understand that insurance is a contract between you and your insurance carrier. If an insurance carrier has not paid within 60 days of billing, any unpaid fees are due and payable in full from you.

=partial"shared/sign_up_banner"