;;;
"title": "Contact"
;;;

%section.invert-section.bg-cover{:style=>"background-image:url(../images/header_approach.png);"}
	.container
		.row
			.col-lg-8.col-md-10
				%h1
					Contact
			.col-lg-3.col-md-2

%section
	.container
		.row
			.col-lg-12
				.heading-bordered
				%h2
					Let's Chat
		.row
			.col-sm-9
				.padding-right.no-padding-right-sm
					%p
						Cras quis nulla commodo, aliquam lectus sed, blandit augue. Cras ullamcorper bibendum bibendum. Duis tincidunt urna non pretium porta. Nam condimentum vitae ligula vel ornare. 
		.row
			.col-lg-12
				%form
					.form-group
						.row
							.col-sm-6.half-margin-bottom
								%input.form-control.input-lg{:placeholder=>"Name"}
							.col-sm-6.half-margin-bottom
								%input.form-control.input-lg{:placeholder=>"Email"}
					.form-group
						.row
							.col-sm-12
								%textarea.form-control.input-lg{:placeholder=>"Message...", :rows=>"8"}
					.form-group.margin-top
						.row
							.col-sm-6
								%p.quarter-margin-top
									%small
										We look forward to hearing from you. We will be in touch shortly.
							.col-sm-6
								.pull-right.no-float-right-sm
									%button.btn.btn-default.btn-skew{:href=>"#"}
										Send it on
