;;;
"title": "Contact"
;;;

%section.invert-section.bg-cover{:style=>"background-image:url(../images/header_approach.png);"}
	.container
		.row
			.col-lg-8.col-md-10
				%h1
					Portfolio
			.col-lg-3.col-md-2

%section
	.container
		.row
			.col-lg-12
				.heading-bordered
				%h2
					Our companies past & current
		.row
			.col-sm-4
				%a{:href=>"#"}
					.portfolio-card.no-shadow
						%img{:src=>"../images/logo_geek.png"}
			.col-sm-4
				%a{:href=>"#"}
					.portfolio-card.no-shadow
						%img{:src=>"../images/logo_mod.png"}
			.col-sm-4
				%a{:href=>"#"}
					.portfolio-card.no-shadow
						%img{:src=>"../images/logo_five.png"}
			.col-sm-4
				%a{:href=>"#"}
					.portfolio-card.no-shadow
						%img{:src=>"../images/logo_apex.png"}
			.col-sm-4
				%a{:href=>"#"}
					.portfolio-card.no-shadow
						%img{:src=>"../images/logo_coast.png"}
			.col-sm-4
				%a{:href=>"#"}
					.portfolio-card.no-shadow
						%img{:src=>"../images/logo_beacon.png"}
=partial"shared/sign_up"
