;;;
"title": "Approach"
;;;

%section.invert-section.bg-cover{:style=>"background-image:url(../images/header_approach.png);"}
	.container
		.row
			.col-lg-8.col-md-10
				%h1
					Approach
			.col-lg-3.col-md-2

%section
	.container
		.row
			.col-lg-12
				.heading-bordered
				%h2
					Investment Criteria
		.row
			.col-sm-9
				.padding-right.no-padding-right-sm
					%p
						We seek to create long-term operational relationships with growing lower middle market cos as well as those in a turnaround situation. We are an opportunistic investor, but our target companies possess the following characteristics:
		.row
			.col-lg-12
				.check-list
					.media
						.media-left.media-top
							.check
								%i.fa.fa-check
						.media-body
							.line
							%h5
								UNDERPERFORMING OR DISTRESSED WITH CLEAR POTENTIAL FOR GROWTH
					.media
						.media-left.media-top
							.check
								%i.fa.fa-check
						.media-body
							.line
							%h5
								PARTICIPATION IN STABILIZED OR GROWING MARKETS
					.media
						.media-left.media-top
							.check
								%i.fa.fa-check
						.media-body
							.line
							%h5
								PRODUCERS OF TANGIBLE GOODS OR SERVICES
					.media
						.media-left.media-top
							.check
								%i.fa.fa-check
						.media-body
							.line
							%h5
								POSSIBILITY FOR STRONG RETURNS
					.media
						.media-left.media-top
							.check
								%i.fa.fa-check
						.media-body
							.line
							%h5
								EBITDA OF 0-2 MIL
%section.invert-section.bg-cover{:style=>"background-image:url(../images/banner_approach.png);"}
	.container
		.row
			.col-sm-9
				.heading-bordered
				%h2
					Operational Involvement
				%p
					Our partners bring direct operating experience across our target industries, empowering our value-added approach:
			.col-sm-3
		.row.margin-top
			-4.times do
				.col-sm-6
					.media
						.media-left.media-top
							.padded.no-padding-top
								%i.fa.fa-user
						.media-body
							%p
								%small
									Turnaround teams provide management & technology for distressed cos
		.row.margin-top
			.col-lg-12
				.text-center
					%a.btn.btn-default.btn-skew{:href=>"/about"}
						Get Involved

%section
	.container
		.row
			.col-sm-9
				.heading-bordered
				%h2
					Building Symbiotic Partnerships
				%p
					We believe aligned interests are a cornerstone for successful partnerships. At WCI we: 
			.col-sm-3
		.row.margin-top
			-4.times do
				.col-sm-6
					.media.margin-bottom
						.media-left.media-top
							.check
								%i.fa.fa-check
						.media-body
							%p.padding-left
								%small
									Turnaround teams provide management & technology for distressed cos
		.row.margin-top
			.col-lg-12
				.text-center
					%a.btn.btn-default.btn-skew{:href=>"/about"}
						Get Involved