;;;
"title": "Home"
;;;

%section.invert-section.bg-cover{:style=>"background-image:url(../images/header_home.png);"}
	.container
		.row
			.col-lg-8.col-md-10
				%h1
					Walnut Creek is great here’s a headline about that
			.col-lg-3.col-md-2

%section
	.container
		.row
			.col-lg-12
				.heading-bordered
				%h2
					Next Level VC
		.row
			.col-sm-9
				.padding-right.no-padding-right-sm
					%p
						WCI is a boutique capital group investing in lower middle market companies. We leverage digital progress to bring sophistication in systems, operations and technology to our portfolio companies, helping them achieve transformational growth.
			.col-sm-3
				%a.btn.btn-default.btn-skew{:href=>"/approach"}
					Learn More
%section.no-padding-top
	.container
		.home-line
		.row
			.col-sm-4
				%h3.display-num
					1
				%h5
					LASTING RELATIONSHIPS
				%p
					%small
						We never sacrifice long-term vision for short-term gain: we aim to create life-long partners out of our clients while contributing to the growth of differentiated products, services and solutions.
			.col-sm-4
				%h3.display-num
					2
				%h5
					DELIBERATE  FOCUS
				%p
					%small
						We focus on crafting long-term relationships with management, bringing new technology to dated industries, and using data to provide trend insight We advisie intelligent, consumer-guided decisions. 
			.col-sm-4
				%h3.display-num
					3
				%h5
					DEDICATED PARTNERS
				%p
					%small
						Our partners deliver a combination of expertise and experience that enables us a cutting-edge advantage in identifying and creating value in investment opportunities.
%section.invert-section.bg-cover{:style=>"background-image:url(../images/banner_value.png);"}
	.container
		.row
			.col-lg-12
				.heading-bordered
				%h2
					Encompassing Values. Long-Term Vision.
				%p.text-columns-2
					We view all of our investments through a globally encompassing lens, and choose our partnerships accordingly. We believe that companies with mindful management of environmental and social issues are better situated for long-term success.
					in a future where diminishing resources, complex consumer demand, and increased regulation are projected to amplify both challenge and opportunity. We allocate small amounts of capital from all of our investments to improving the world around us. 
		.row.margin-top
			.col-lg-12
				.text-center
					%a.btn.btn-default.btn-skew{:href=>"/about"}
						Contact Us
%section
	.container
		.row
			.col-lg-12
				.heading-bordered
				%h2
					We Believe in Innovative & Exciting Companies Like These 
		.row
			.col-sm-4
				%a{:href=>"#"}
					.portfolio-card
						%img{:src=>"../images/logo_five.png"}
			.col-sm-4
				%a{:href=>"#"}
					.portfolio-card
						%img{:src=>"../images/logo_mod.png"}
			.col-sm-4
				%a{:href=>"#"}
					.portfolio-card
						%img{:src=>"../images/logo_geek.png"}
		.row.margin-top
			.col-lg-12
				.text-center
					%a.btn.btn-default.btn-skew{:href=>"/about"}
						See All
